workDir = "/scratch/alpine/${USER}/temptr_study_work"

// address an issue with symbolic links in the scratch space
env {
  NXF_FILE_SYSTEM_CACHE = 'false'
  NXF_OPTS = '-Dnxf.fs.match_locations=false'
}


process {
  executor = 'slurm'
  clusterOptions = '--qos=normal'
  conda = "/projects/.colostate.edu/dcking/software/anaconda/envs/vc-nf"
  queue = 'amilan'
  submitRateLimit = '5/1min'   // pace submissions for alpine queue
  maxForks = 4
  time = "5m"
  tag = { sample_id ?: task.process }


  withLabel: 'highmem' {
    maxForks = 4
	cpus = 12
    memory = 12 * 3840.MB
  }

  withLabel: 'lowmem_threaded' {
    maxForks = 4
	cpus = 8
    memory = 8 * 3840.MB
  }

  withLabel: 'lowmem_non_threaded' {
    maxForks = 8
	cpus = 1
    memory = 1 * 3840.MB
  }
  withName: host_filtering {
      cpus = 8   
      memory = 8 * 3840.MB
  }
}

